*{
    padding: 0;
    margin: 0;
}
#bg{
    width: 400px;
    height: 200px;
    background-color: #CCC;
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -100px;
}
#left{
    width: 0;
    height: 0;
    border: 50px solid #fc0;
    border-radius: 50px;
    position: absolute;
    left: -50px;
    top: -50px;
}
#right{
    width: 0;
    height: 0;
    border: 50px solid #fc0;
    border-radius: 50px;
    position: absolute;
    left: 350px;
    top: 150px;
}
#left1{
    width: 0;
    height: 0;
    border: 50px solid #fc0;
    border-radius: 50px;
    position: absolute;
    left: -50px;
    top: 150px;
}
#right2{
    width: 0;
    height: 0;
    border: 50px solid #fc0;
    border-radius: 50px;
    position: absolute;
    left: 350px;
    top:  -50px;
}
