*{
    margin: 0;
    padding: 0;
}
ul{
    margin-top: 10px;
}
li{
    display: inline-block;
    background-color: red;
    color: #FFF;
    width: 15px;
    margin-left: 5px;
    cursor: pointer;
}